@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background:#050505;
  color:white;
}

/* ========================================
   CURSOR PARTICLES
======================================== */

.particles-container{
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

.particle{
  position: fixed;
  border-radius: 999px;
  pointer-events: none;
  will-change: transform, opacity;
}